<?xml version="1.0"?>
<!--
/**
 * @package     Abhay/BlogManager
 * @version     1.0.0
 * @author      Abhay
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Abhay_BlogManager::blog" 
             title="Blog Manager" 
             module="Abhay_BlogManager" 
             sortOrder="25" 
             resource="Abhay_BlogManager::blog"/>

    	<add id="Abhay_BlogManager::manage" 
             title="Manage Blog" 
             module="Abhay_BlogManager" 
             sortOrder="1" 
             parent="Abhay_BlogManager::blog" 
             action="blog/manage/index" 
             resource="Abhay_BlogManager::manage" />
   	</menu>
</config>