<?xml version="1.0"?>
<!--
/**
 * Abhay
 * 
 * PHP version 8
 * 
 * @category  Abhay
 * @package   Abhay_BlogManager
 * @author    Abhay Agrawal <abhay@gmail.com>
 * @copyright 2022 Copyright © Abhay
 * @license   See COPYING.txt for license details.
 * @link      https://github.com/abhay1198/blog-manager
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_manage_list_data_source" xsi:type="string">Abhay\BlogManager\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Abhay\BlogManager\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">abhay_blog_manager</argument>
            <argument name="resourceModel" xsi:type="string">Abhay\BlogManager\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>
    <type name="Abhay\BlogManager\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">abhay/blog/thumbnail</argument>
            <argument name="basePath" xsi:type="string">blog/thumbnail</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <preference for="Abhay\BlogManager\Api\BlogRepositoryInterface" type="Abhay\BlogManager\Model\Api\BlogDataApi"/>
    <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="disable_blog_manager" xsi:type="object">Abhay\BlogManager\Console\DisableBlogManager</item>
           </argument>
       </arguments>
   </type>
</config>